* {
  font-family: "Baloo Bhai 2", sans-serif;
}

body {
  padding-top: 6rem;
}

p {
  font-size: 1.1rem;
}

/* NAVBAR */

.navbar img {
  width: 10rem;
}

a.nav-link {
  color: #a98e60;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
  margin: 0rem 1rem;
  text-decoration: none;
}

a.nav-link:hover,
a.nav-link.active,
a.nav-link.show {
  color: #b46577 !important;
}

#ordinabutton {
  background-color: #b56475;
  border: none;
  border-radius: 20px;
  margin-left: 1rem;
  padding: 0.4rem 1rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

#ordinabutton:hover {
  background-color: #944c61;
}

.custom-toggler {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23b46577' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-toggler:hover {
  background-color: rgba(180, 101, 119, 0.15);
  cursor: pointer;
}

/* HOME */

.buttonhome {
  background-color: #b46577 !important;
  color: #b46577;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.3s;
}

/* CHI SIAMO */

h2 {
  color: #a98e60 !important;
}

#chisiamo .col img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 12px;
}

.pattern {
  width: 100%;
  height: 70px;
  background-image: url("src/assets/pattern.png");
  background-size: auto 1000px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* LOCATIONS */
#locations a {
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.3s;
}

#locations a:hover {
  color: #b46577;
}

/* CONTATTI */
#formcontatti input,
#formcontatti textarea,
#formcontatti button {
  background-color: #faf6f0;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

#formcontatti button {
  background-color: #b56475;
  color: white;
  width: 25%;
}

#formcontatti button:hover {
  background-color: #944c61;
  color: white;
  cursor: pointer;
}

/* FOOTER */
footer a {
  text-decoration: none;
  display: block;
  font-weight: bold;
  color: white;
  margin: 0.5rem 0;
}

.pattern2 {
  width: 100%;
  height: 200px;
  background-image: url("src/assets/patternfooter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.col-inner {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/* MEDIA QUERIES */
