* {
  font-family: "Baloo Bhai 2", sans-serif;
}

/* NAVBAR */
.navbar img {
  width: 10rem;
}

a.nav-link {
  color: #a98e60;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
  margin: 0rem 1rem;
}

a.nav-link:hover,
a.nav-link.active,
a.nav-link.show {
  color: #b46577 !important;
}

button.btn-danger .nav-link {
  color: #fef3f2 !important;
}

button.btn-danger:hover {
  color: #ccaeb5;
}

/* HOME */

.buttonhome {
  background-color: #b46577 !important;
  color: #b46577;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.3s;
}

/* CHI SIAMO */
#chisiamo h2 {
  color: #a98e60;
  font-weight: semibold;
}

#chisiamo .col img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 12px;
}

.pattern {
  width: 100%;
  height: 70px;
  background-image: url("src/assets/pattern.png");
  background-size: auto 1000px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#logo {
  width: 85% !important;
  height: 200px !important;
  object-fit: contain !important;
  border-radius: 0px !important;
}

/* FOOTER */
footer a {
  text-decoration: none;
  display: block;
  font-weight: bold;
  color: white;
  margin: 0.5rem 0;
}

.pattern2 {
  width: 100%;
  height: 200px;
  background-image: url("src/assets/patternfooter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
