* {
  font-family: "Baloo Bhai 2", sans-serif;
}

body {
  padding-top: 6rem;
}

p {
  font-size: 1.1rem;
}

/* NAVBAR */

.navbar img {
  width: 10rem;
}

a.nav-link {
  color: #a98e60;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
  margin: 0rem 1rem;
  text-decoration: none;
}

a.nav-link:hover,
a.nav-link.active,
a.nav-link.show {
  color: #b46577 !important;
}

/* Stile del bottone ORDINA */
#ordinabutton {
  background-color: #b56475;
  border: none;
  border-radius: 20px;
  margin-left: 1rem;
  padding: 0.4rem 1rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

#ordinabutton:hover {
  background-color: #944c61;
}

/* HOME */

.buttonhome {
  background-color: #b46577 !important;
  color: #b46577;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.3s;
}

/* CHI SIAMO */

h2 {
  color: #a98e60 !important;
}

#chisiamo .col img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 12px;
}

.pattern {
  width: 100%;
  height: 70px;
  background-image: url("src/assets/pattern.png");
  background-size: auto 1000px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* LOCATIONS */
#locations a {
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.3s;
}

#locations a:hover {
  color: #b46577;
}

/* FOOTER */
footer a {
  text-decoration: none;
  display: block;
  font-weight: bold;
  color: white;
  margin: 0.5rem 0;
}

.pattern2 {
  width: 100%;
  height: 200px;
  background-image: url("src/assets/patternfooter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.col-inner {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
